/****fonts*****/

@font-face { font-family: Axiforma-regular; src: url("fonts/Axiforma-Regular.eot") format("eot"), url("fonts/Axiforma-Regular.woff") format("woff"); font-style: normal; font-weight: 400; font-display: swap; 
}

@font-face { font-family: Axiforma-book; src: url("fonts/Axiforma-Book.eot") format("eot"), url("fonts/Axiforma-Book.woff") format("woff"); font-style: normal; font-weight: 400; font-display: swap; 
}

@font-face { font-family: Axiforma-SemiBold; src: url("fonts/Axiforma-SemiBold.eot") format("eot"), url("fonts/Axiforma-SemiBold.woff") format("woff"); font-style: normal; font-weight: 400; font-display: swap; 
}

@font-face { font-family: Butler-regular; src: url("fonts/Ogg-Medium.woff") format("woff"), url("fonts/Ogg-Medium.woff2") format("woff2"), url("fonts/Ogg-Medium.otf") format("otf"); font-style: normal; font-weight: 400; font-display: swap; 
}







